global:
  scrape_interval: '{{ prometheus_scrape_interval }}'
  scrape_timeout: '{{ prometheus_scrape_timeout }}'
  evaluation_interval: '{{ prometheus_evaluation_interval }}'
  external_labels:
{% for key, value in prometheus_external_labels.items() %}
    {{ key }}: {{ value }}
{% endfor %}

{% if prometheus_alert_rules is defined and prometheus_alert_rules.files | length  > 0 %}
rule_files:
{% for rule in prometheus_alert_rules.files %}
  - "/etc/prometheus/{{ rule.path | basename }}"
{% endfor %}
{% endif %}

scrape_configs:
  - job_name: prometheus
    static_configs:
      - targets:
{% for host in groups['prometheus_server'] | sort %}
        - '{{ hostvars[host]['ansible_' + hostvars[host]['api_interface']]['ipv4']['address'] }}:{{ prometheus_server_port }}'
{% endfor %}

{% if enable_prometheus_node_exporter | bool %}
  - job_name: node-exporter
    static_configs:
      - targets:
{% for host in groups['prometheus_node_exporter'] | sort %}
        - '{{ hostvars[host]['ansible_' + hostvars[host]['api_interface']]['ipv4']['address'] }}:{{ hostvars[host]['prometheus_node_exporter_port'] }}'
{% endfor %}
{% endif %}

{% if enable_prometheus_cadvisor | bool %}
  - job_name: cadvisor
    static_configs:
      - targets:
{% for host in groups['prometheus_cadvisor'] | sort %}
        - '{{ hostvars[host]['ansible_' + hostvars[host]['api_interface']]['ipv4']['address'] }}:{{ hostvars[host]['prometheus_cadvisor_port'] }}'
{% endfor %}
{% endif %}